
  /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
  /*  Cards*/
.card{
    width: 60%;
    background-color: #EEEEEE;
    margin: 2% auto;
    border: 1px solid black;
    border-radius: 5px;
}
.card-title{
    text-align: center;
    padding-top: 1%;
} 

.card-text{
    padding-left: 60px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width:992px){
    .card-text{
font-size: 12px;
    }
}