/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
    /* Start der Headers */

.Header{ 
    height: 100%;
    width: 100%;
    background-color: #99FF99;
    background-position-y: top;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

nav ul li a{
    font-weight: bold;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 0.5px;
    padding: 0 10px;
    color: #0f0f0f;
}

.Navbar{
    width: 100%;
    height: 25%;
    margin: auto;
    display: flex;
    align-items: center;
}

#Logo{
    width: 100px;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
}
nav {
    flex: 1;
    padding-left: 5%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 4%;    
}

/* responsive makes some space between the bullit points, should be enough*/
@media (max-width:1400px){
    nav ul li{
        margin: 0px 2%;  
        padding: 1% 2%;
    }
}
@media (max-width:1000px){
    nav ul li{
        margin: 0px 0%;  
        padding: 1% 2%; 
    }
}

/* Unterstrich Effekt */

.hoverLine:after{
    content: '';
    position: absolute;
    display: block;
    background-color: black;
    height: 3px;
    width: 0;
    left: 50%;
    bottom: -10px;
    transition: width .3s ease 0s, left 0.3s ease 0s;
}

.hoverLine:hover:after{
    width: 100%;
    left: 0;
    z-index: 2;

}

/* Dropdown Menü*/

.dropDownContent {
    display: none;
    position: absolute;
    left: 19.4%;
    height: 75%;
    text-align: center;
    font-family: 'arial';
    font-weight: bold;
    font-size: 100%;
    padding-top: 0.8%;
    background-color: #EDEDED;;
    min-width: 160px;
    width: 1%;
    padding-top: 1.25%;
    box-sizing: border-box;
    box-shadow: 5px #ffffff;
    border-radius: 5%;
    z-index: 1;
}

.dropDownContent:hover {
    display: block;
}

/* Ende Header */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
    /* Start mit Footer */
.footer{
    height: 100%;
    width: 100%;
    background-color: #99FF99;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.navbar_footer{
    width: 100%;
    height: 25%;
    margin: auto;
    display: flex;
    align-items: center;
}

.list_items{
    margin-left: 10px;
}

.img_footer_nav{
    width: 100%;
    height: 25%;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}
.img_footer{
    /* width: 150px; */
    width: 50%;
    margin-left: 20px;
}