/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*  Silbentrennung */
.hyphens {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  
  /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Paragraph Size */
@media (max-width: 450px) {
  p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 16px;
  }
}

h1 {
  font-size: 21px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 22px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 23px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 19px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 22px;
  }
}

h2 {
  font-size: 18px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 19px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 21px;
  }
}

h3 {
  font-size: 17px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 18px;
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  h3 {
    font-size: 19px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 20px;
    margin-bottom: 0px;
  }
}

h4 {
  font-size: 13px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 15px;
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  h4 {
    font-size: 17px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 17px;
    margin-bottom: 0px;
  }
}

  /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
  /*  Fonts */
  .verdana {
    font-family: verdana;
  }
  
  .roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .roboto_bold {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .text-justify {
    text-align: justify;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
  /* Flex*/
  .row{
    display: flex;
    flex-direction: flex;
  }

  .row-colomn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
  /* alignment*/
  .title{
    margin: auto;
    text-align: center;
    padding-bottom: 4%;
    padding-top: 2%;
  }
  .text-center{
    margin: 0px auto;
    padding-top: 1%;
  }

  /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
  /* Button*/

  .btn_mehr{
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border:none;
    border-radius: 20px;
    background-color: #80D3FA;
    font-family: verdana;
    position:relative;
    left: 45%;
    margin: 3% auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
  /*  tls Info block*/

  .container_tls_info{
    width: 250px;
    height: 220px;
    font-size: 16px;
    background-color: #80D3FA;
    border-radius: 0px 0px 5px 5px;
    padding-left: 1%;
    padding-top: 1%;
    margin-left: 1%;
    position: relative;
  }

  @media(max-width:992px){
    .container_tls_info{
      width: 220px;
      height: 180px;
      font-size: 14px;
    }
  }

.h1{
  color: aqua;
}